[Unit]
Description=Service description
After=network.target
Before=multi-user.target

[Service]
ExecStart=/usr/local/bin/server
Type=simple
Restart=always

[Install]
WantedBy=default.target
